@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#fick-title {
    color: rgba(249, 104, 84);
}

/* login.html*/
.hero {
    display: block;
}

.hero.is-halfheight {
    min-height: 48vh;
}

.hero.is-success {
    background-color: #00d1b2;
}

.hero-body {
    padding-left: 3rem;
}

.login_title {
    margin: 30px;
}

.title {
    font-size: 3rem;
}

.subtitle {
    font-size: 1.7rem;
}

.box {
    width: 370px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 55%;
    margin-left: -185px;
    margin-top: -185px;
    padding: 2rem;
    border-radius: 1rem;
    border: #00d1b2 solid 3px;
}

.input {
    border: #00cfb2 solid 1px;
}

.bts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bts > button {
    margin-top: 10px;
    margin-left: 9px;
}

/* register.html */
.success {
    color: green;
}

.caution {
    color: red;
}


.field {
    width: 300px;
}

.wrap {
    position: absolute;
    left: 50%;
    top: 45%;
    background-color: white;
    border: #00d1b2 solid 3px;
    border-radius: 1rem;
    width: 500px;
    margin: 50pt auto auto auto;
    padding: 20pt 20pt 20pt 20pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -240px;
    margin-top: -240px;
}

.input {
    border: #00cfb2 solid 1px;
}

/* index.html */
.bmi-input-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: white;
    width: 480px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 60%;
    margin-left: -240px;
    margin-top: -240px;
    padding: 1.5rem 2rem 2rem 2rem;
    border-radius: 1rem;
    border: #00d1b2 solid 3px;
}

.bmi-input {
    width: 375px;
    margin-right: 12px;
}

.input-box {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 300px 1fr;
}

.user-bmi-box {
    padding: 1rem;
}

.user-bmi-box > p {
    margin-bottom: 0.3rem;
}

.menu-bar {
    padding: 1rem;
}

.point {
    font-weight: bold;
}

.exercise-box {
    display: flex;
    justify-content: space-evenly;
}

.exercise {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin: 1rem;*/
}

.img-circle {
    width: 165px;
    height: 165px;
    border-radius: 70%;
    overflow: hidden;
    margin: 1rem;
}

.exercise-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}