<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script>
        function register() {
             $.ajax({
                    type: "POST",
                    url: "/api/register",
                    data: {
                        name_give: $('#username').val(),
                        id_give: $('#userid').val(),
                        pw_give: $('#userpw').val(),
                        mail_give: $('#usermail').val()
                    },
                    success: function (response) {
                        if (response['result'] == 'success') {
                            alert('회원가입이 완료되었습니다.')
                            window.location.href = '/'
                        } else {
                            alert(response['msg'])
                        }
                    }
                })
              }
    </script>

</head>
<body>
<h1> 회원가입 페이지 </h1>
<input id="username" type="text" value="이름을 입력하세요"><br>
<input id="userid" type="text" value="ID를 입력하세요"><br>
<input id="userpw" type="text" value="pw를 입력하세요"><br>
<input id="usermail" type="text" value="email을 입력하세요"><br>
<button onclick="register()"> 회원가입</button>
</body>
</html>