<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="../static/mystyle.css">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <style>
        @font-face {
            font-family: 'LeferiPoint-WhiteObliqueA';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
             font-family: 'S-CoreDream-3Light';
             src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
             font-weight: normal;
             font-style: normal;
        }

        h1 {
            font-family: 'LeferiPoint-WhiteObliqueA';
        }

        .subtitle {
            font-family: 'S-CoreDream-3Light';
        }
    </style>

    <script>

        function pw_error() {
            alert('비밀번호가 일치하지 않습니다')
            let input = document.getElementById('userpw2');
            input.value = null;
        }

        function register() {
            if ($('#username').val() == "") {
                $("#help-name").text("이름을 입력해주세요.").addClass('caution')
                $("#help-name").focus()
                return;
            } else {
                 $("#help-name").text("").removeClass('caution')
             }
            if ($('#userid').val() == "") {
                $("#help-id").text("아이디를 입력해주세요.").addClass('caution')
                $("#help-id").focus()
                return;
            } else {
                 $("#help-id").text("").removeClass('caution')
             }
             if ($('#userpw').val() == "") {
                $("#help-pw").text("비밀번호를 입력해주세요.").addClass('caution')
                $("#help-pw").focus()
                return;
            } else {
                 $("#help-pw").text("").removeClass('caution')
             }
            if ($('#userpw').val() != $('#userpw2').val()) {
                pw_error()
                return
            } else {
               let emailchk = $('#usermail').val()
                if(emailchk.includes("@" && ".")) {
                    $.ajax({
                        type: "POST",
                        url: "/api/register",
                        data: {
                            name_give: $('#username').val(),
                            id_give: $('#userid').val(),
                            pw_give: $('#userpw').val(),
                            mail_give: $('#usermail').val()
                        },
                        success: function (response) {
                            if (response['result'] == 'success') {
                                alert('회원가입이 완료되었습니다.')
                                window.location.href = '/login'
                            } else {
                                alert(response['msg'])
                            }
                        }
                    })
                } else {
                    document.getElementById('usermail').focus()
                    alert('이메일 형식이 올바르지 않습니다')
                    return
                }
            }
        }

        function check_dup() {
            let userid = $("#userid").val()
            if (userid == "") {
                $("#help-id").text("아이디를 입력해주세요.").addClass('caution')
                $("#help-id").focus()
                return;
            }
            $.ajax({
                type: "POST",
                url: "/sign_up/check_dup",
                data: {
                    userid_give: userid
                },
                success: function (response) {

                    if (response["exists"]) {
                        $("#help-id").text("이미 존재하는 아이디입니다.").addClass('caution')
                        $("#help-id").focus()
                    } else {
                        $("#help-id").text("사용할 수 있는 아이디입니다.").removeClass('caution').addClass('success')
                    }

                }
            });
        }

    </script>
</head>
<body>

<section class="hero is-success is-halfheight">
    <div class="hero-body">
        <div class="login_title">
            <h1 class="title" id="fick-title">F-ick</h1>
            <p class="subtitle">회원 가입하기 :)</p>
        </div>
    </div>
</section>
<div class="wrap">
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input id="username" class="input" type="text" placeholder="Name">
            <p id="help-name"> </p>
        </div>
    </div>

    <div class="field">
        <label class="label">ID</label>
        <div class="control">
            <input id="userid" class="input" type="text" placeholder="ID">
            <p id="help-id"> </p>
            <div id="btn-check-dup" class="control">
                <button class="button is-sparta" style="margin-left:67%; margin-top:5px" onclick="check_dup()">중복확인</button>
            </div>
        </div>
    </div>

    <div class="field">
        <label class="label">Password</label>
        <div class="control">
            <input id="userpw" class="input" type="password" placeholder="PW">
            <p id="help-pw"> </p>
        <p id="help-password" class="help is-hidden">영문과 숫자 조합의 8-20자의 비밀번호를 설정해주세요. 특수문자(!@#$%^&*)도

        </div>
    </div>

    <div class="field">
        <label class="label">Password</label>
        <div class="control">
            <input id="userpw2" class="input" type="password" placeholder="PW">
            <p id="help-password" class="help is-hidden">영문과 숫자 조합의 8-20자의 비밀번호를 설정해주세요. 특수문자(!@#$%^&*)도

        </div>
    </div>

    <div class="field">
        <label class="label">Email</label>
        <div class="control">
            <input id="usermail" class="input" type="text" placeholder="hanghae99@gamil.net">
        </div>
    </div>

    <div class = "join-btn">
        <button onclick="register()" class="button is-primary"> <span style="font-weight: bold; font-size: 15pt;"> 가입하기 </span> </button>
    </div>
</div>

{#<div class="wrap">#}
{#    <div class="field">#}
{#        <label class="label">Name</label>#}
{#        <div class="control">#}
{#            <input id="username" class="input" type="text" placeholder="Name">#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="field">#}
{#        <label class="label">ID</label>#}
{#        <div class="control">#}
{#            <input id="userid" class="input" type="text" placeholder="아이디">#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="field">#}
{#        <label class="label">Password</label>#}
{#        <div class="control">#}
{#            <input id="userpw" class="input" type="password" placeholder="패스워드">#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="field">#}
{#        <label class="label">Password</label>#}
{#        <div class="control">#}
{#            <input id="userpw2" class="input" type="password" placeholder="패스워드 확인">#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="field">#}
{#        <label class="label">Email</label>#}
{#        <div class="control">#}
{#            <input id="usermail" class="input" type="text" placeholder="hanghae99@gamil.net">#}
{#        </div>#}
{#    </div>#}
{#    <div class="join-btn">#}
{#        <button onclick="register()" class="button is-primary"><span#}
{#                style="font-weight: bold; font-size: 15pt;"> 가입하기 </span></button>#}
{#        </button>#}
{#    </div>#}
{#</div>#}


</body>
</html>